extends layout

block content
	.container-fluid
		.row
			.jumbotron.intro-jumbo
				img.pull-left(src='http://lifeplus.com/images/logo.jpg')
				h1 Welcome to GoLPI
				p This is a MEAN application
		